select#DATA_select_system {
                height: 20em;
}
    


.shiny-input-container:not(.shiny-input-container-inline) {
  width: 100%;
}


div.flexpad{
                display: flex;
}


div.SYSTEM_varname {
                min-width: 11em;
                width: 20%;
                line-height: 5em;
}


div.SYSTEM_varselect1 {
                width: 40%;
                padding-right: 15px;
}

div.SYSTEM_varselect2 {
                width: 40%;
                padding-left: 15px;
}


div#selectfilter_container {
                display: flex;
                margin-bottom: 20px;
}


p.inputlabel{
                line-height: 5em;
                width: 25%;
}


div.smallnuminput_left{
                width: 37.5%;
}


div.smallnuminput_right{
                width: 37.5%;
}


div.white_no_pad_marg{
                margin: 0px;
                padding: 0px;
                background: white;
}


th.alignRight, td.alignRight{
                text-align:right;
}

th.alignLeft, td.alignLeft{
                text-align:left;
}
