#system_name, #SYSTEM_eluent_name,#SYSTEM_eluent_pH_name, #SYSTEM_eluent_additive_name, #SYSTEM_column_name, #SYSTEM_column_type_name, #SYSTEM_ref {
                 width: 100%;
                 height: 27px;
}



div.flexpad{
                display: flex;
                padding-right: 14px;
}


div.SYSTEM_varname {
                min-width: 11em;
                width: 20%;
                line-height: 3.5em;
}


div.SYSTEM_varselect {
                min-width: 22em;
                width: 40%;
}


div#selectfilter_container {
                display: flex;
                margin-bottom: 20px;
}


p.inputlabel{
                line-height: 2.7em;
                width: 9em;
}


div.smallnuminput_left{
                width: 90px;
                padding-right: 20px;
}


div.smallnuminput_right{
                width: 90px;
                padding-left: 10px;
}


div.white_no_pad_marg{
                margin: 0px;
                padding: 0px;
                background: white;
}
