# Export all functions
export(log_count, # database queries
       get_ns,
       get_models,
       get_build_log,
       sys_oid2name,
       get_systems,
       get_user_data,
       sys_comb_matrix,
       pred_stat_get,
       
       mongo_del_oid, # database operations
       wrote_model_log,
       purge_predictions,
       set_model_status,
       model_db_write,
       pred_stat_write,
       
       rmongodb.robj2data.frame, # database helpers
       pred_stat_make,
       
       bold.allrows, # helpers
       is.between,
       
       gam.mono.con.fun, # modelling
       boot2ci,
       boot2ci_PI,
       build_model,
       predict_RT,
       
       plot_systems # plotting
)


# Import all packages listed as Imports or Depends
import(rmongodb)

importFrom(stringr,str_replace_all)
importFrom(mgcv,gam,smoothCon,mono.con,pcls,Predict.matrix,s)
importFrom(pracma,sigmoid)
importFrom(parallel,detectCores)
#importFrom(bisoreg,)
importFrom(boot,boot.ci,boot)
importFrom(rCharts,hPlot,toJSONArray,toJSONArray2)
importFrom(shiny,Progress)









