# Export all functions
export(log_count, # database queries
       system_count,
       get_ns,
       get_models,
       get_build_log,
       sys_oid2name,
       get_systems,
       get_user_data,
       sys_comb_matrix,
       pred_stat_get,
       
       mongo_del_oid, # database operations
       wrote_model_log,
       purge_predictions,
       purge_system_data,
       set_model_status,
       model_db_write,
       pred_stat_write,
       
       rmongodb.robj2data.frame, # database helpers
       pred_stat_make,
       
       bold.allrows, # helpers
       is.between,
       
       gam.mono.con.fun, # modelling
       boot2ci,
       boot2ci_PI,
       build_model,
       predict_RT,
       
       plot_systems, # plotting
       
       PredRet.env, # environment to hold some vars
       PredRet_connect,
       
       PredRet_get_db,
       PredRet_get_chrom_systems,
       PredRet_get_models,
       PredRet_list_models,
       
       PredRet_plot.db.count,   # plots
       PredRet_plot.pred.cor,
       PredRet_plot.pred.error.abs,
       PredRet_plot.pred.error.rel,
       PredRet_plot.pred.pi.abs,
       PredRet_plot.pred.pi.rel,
       PredRet_plot.db.graph,
       PredRet_plot.model.fit,
       
       inputTextarea # shiny widgets
       
)


# Import all packages listed as Imports or Depends
import(rmongodb)
import(ggplot2)
import(igraph)
import(shiny)

importFrom(stringr,str_replace_all)
importFrom(mgcv,gam,smoothCon,mono.con,pcls,Predict.matrix,s)
importFrom(pracma,sigmoid)
importFrom(parallel,detectCores)
#importFrom(bisoreg)
importFrom(boot,boot.ci,boot)
#importFrom(rCharts,hPlot,toJSONArray,toJSONArray2)
#importFrom(shiny,Progress)
importFrom(plyr,mutate,ddply,summarise,.)
importFrom(reshape2,melt)
importFrom(Rplot.extra,ggplotColours,theme_bw_nice,geom_violin_quantile_fill,addVertIfNotPresent,interpolate_gradient)
importFrom(massageR,normalize01,normalize_range)








